@keyframes example-test {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

.test {
    animation-name: example-test;
}

.unknown {
    animation-name: unknown-function;
}
